body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}


.ellipse-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%; 
    height: 100%; 
    background-color: #f7e6e6; 
    clip-path: ellipse(100% 110% at 0% 50%); 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; 
    padding: 20px; 
}

.ifood-logo {
    width: 67px; 
    height: auto; 
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    margin-left: 470px;
}

.registration-form {
    width: 330px;
    padding: 40px;
    border: 1px #f4eded;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px #f8f6f6
}

.registration-form h2 {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.registration-form h4 {
    margin-bottom: 25px;
    color: gray;
}

.registration-form button.face,
.registration-form button.google {
    width: calc(100% - 10px);
    padding: 10px 10px; 
    text-align: center;    
    border: 1px solid #9b9898;
    border-radius: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.registration-form button.face {
    background-color: #4065b4;
    color: #ffffff;
    border: 1px solid #9b9898; 
    border-radius: none; 
    cursor: pointer;
    margin-bottom: 15px;
    transition: .5s; 
    
}

.registration-form button.face:hover{
    background-color: #502dcf;
    opacity: 10;
}

.registration-form button.face i{
    margin-right: 10px;
}
.registration-form button.google i{
    margin-right: 10px;
}

.registration-form button.google {
    background-color: #ffffff;
    color: #010101;
    border: 1px solid #9b9898; 
    border-radius: none; 
    cursor: pointer;
}


.button-container {
    display: flex;
    justify-content: space-between; 

}

.registration-form button {
    width: calc(50% - 5px); 
    padding: 10px;
    border: 2px rgb(147, 142, 142);
    cursor: pointer;
    background-color: #ffffff;
}



.button-container button{
    border: 1px solid #9b9898; 
    border-radius: none; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.button-container button:hover {
    background-color: #ea1d2c;
    color: #ffffff;
}


