<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/página-inicial.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<title>iFood</title>
	</head>
	<body>
		<div class="container">
			<div class="hero">
				<!-- HEADER -->
				<div class="header">
					<ul>
						<li><a href="">Entregador</a></li>
						<li><a href="">Restaurante</a></li>
						<li><a href="">Carreiras</a></li>
						<li><a href="">iFood Empresas</a></li>
						<li>Entrar</li>
					</ul>
				</div>

				<!-- BG -->
				<div class="bg">
					<div class="left">
						<img src="images/dish-left.png" alt="" />
						<img class="svg" src="images/left.svg" alt="" />
					</div>
					<div class="right">
						<img class="svg" src="images/right.svg" alt="" />
						<img src="images/dish-right.png" alt="" />
					</div>
					<div class="content">
						<img src="images/logo.svg" alt="" class="logo" />
						<h2>Nunca foi tão facil pedir <span>lanche</span></h2>
						<p>Descubra restaurantes perto de você</p>
						<div class="form">
							<div class="search">
								<img src="images/search.svg" alt="" />
								<input type="text" placeholder="Buscar endereço e número" />
							</div>
							<button>Buscar</button>
						</div>
						<div class="tags">
							<span>#pizza</span>
							<span>#lanche</span>
							<span>#comidabrasileira</span>
							<span>#pizza</span>
							<span>#lanche</span>
							<span>#comidabrasileira</span>
						</div>
					</div>
				</div>
			</div>



			<div class="banner">
				<img src="images/landing-banner-1.png" alt="" />
				<img src="images/landing-banner-2.png" alt="" />
				<img src="images/landing-banner-3.png" alt="" />
			</div>


<!--Estabelecimento-->
<h2>Restaurantes</h2>
<section class="products">
    <article class="product">
        <img src="bebida1.jpg" alt="Bebida 1">
        <h2>Bebida 1</h2>
        <p>Descrição da bebida 1.</p>
        <p>Preço: R$ 10,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida2.jpg" alt="Bebida 2">
        <h2>Bebida 2</h2>
        <p>Descrição da bebida 2.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida3.jpg" alt="Bebida 3">
        <h2>Bebida 3</h2>
        <p>Descrição da bebida 3.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida4.jpg" alt="Bebida 4">
        <h2>Bebida 4</h2>
        <p>Descrição da bebida 4.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida5.jpg" alt="Bebida 5">
        <h2>Bebida 5</h2>
        <p>Descrição da bebida 5.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida6.jpg" alt="Bebida 6">
        <h2>Bebida 6</h2>
        <p>Descrição da bebida 6.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida7.jpg" alt="Bebida 7">
        <h2>Bebida 7</h2>
        <p>Descrição da bebida 7.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida8.jpg" alt="Bebida 8">
        <h2>Bebida 8</h2>
        <p>Descrição da bebida 8.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida9.jpg" alt="Bebida 9">
        <h2>Bebida 9</h2>
        <p>Descrição da bebida 9.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida10.jpg" alt="Bebida 10">
        <h2>Bebida 10</h2>
        <p>Descrição da bebida 10.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida11.jpg" alt="Bebida 11">
        <h2>Bebida 11</h2>
        <p>Descrição da bebida 10.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>
    <article class="product">
        <img src="bebida12.jpg" alt="Bebida 12">
        <h2>Bebida 12</h2>
        <p>Descrição da bebida 10.</p>
        <p>Preço: R$ 8,00</p>
        <button>Adicionar ao Carrinho</button>
    </article>

<!--novidade-->
<div class="carousel-container">
    <div class="carousel-row">
      <div class="ifood">
        <h3 class="footer__subtitle">iFood</h3>
        <ul class="footer__links-list">
          <li class="footer__list-item">
            <a href="https://institucional.ifood.com.br?utm_source=site_ifood" target="_blank" class="footer__text-link" title="Site Institucional" rel="noopener noreferrer">Site Institucional</a>
          </li>
          <li class="footer__list-item">
            <a target="_blank" class="footer__text-link" title="Fale conosco" rel="noopener noreferrer" href="/ajuda">Fale conosco</a>
          </li>
          <li class="footer__list-item">
            <a href="https://carreiras.ifood.com.br/?utm_source=site_ifood" target="_blank" class="footer__text-link" title="Carreiras" rel="noopener noreferrer">Carreiras</a>
          </li>
          <li class="footer__list-item">
            <a href="https://entregador.ifood.com.br/" target="_blank" class="footer__text-link" title="Entregadores" rel="noopener noreferrer">Entregadores</a>
          </li>
        </ul>
      </div>
      
      <div class="Descubra">
        <h3 class="footer__subtitle">Descubra</h3>
        <ul class="footer__links-list">
          <li class="footer__list-item">
            <a href="https://parceiros.ifood.com.br/" target="_blank" class="footer__text-link" title="Cadastre seu Restaurante ou Mercado" rel="noopener noreferrer">Cadastre seu Restaurante ou Mercado</a>
          </li>
          <li class="footer__list-item">
            <a href="https://shop.ifood.com.br/?utm_source=Site_iFood&amp;utm_medium=Site_iFood&amp;utm_campaign=iFoodShop-Rodape" target="_blank" class="footer__text-link" title="iFood Shop" rel="noopener noreferrer">iFood Shop</a>
          </li>
          <li class="footer__list-item">
            <a href="https://contrate-beneficios.ifood.com.br/comprarifoodcard?utm_source=home_ifood&amp;utm_medium=referral&amp;utm_campaign=botao_header" target="_blank" class="footer__text-link" title="iFood Card" rel="noopener noreferrer">iFood Card</a>
          </li>
          <li class="footer__list-item">
            <a href="https://blog-empresas.ifood.com.br/?utm_source=home_ifood&amp;utm_medium=referral&amp;utm_campaign=botao_footer" target="_blank" class="footer__text-link" title="Blog iFood Empresas" rel="noopener noreferrer">Blog iFood Empresas</a>
          </li>
        </ul>
      </div>
      <h3 class="footer__subtitle">Social</h3>
      <div class="redes-sociais">
        <img src="images/Faceboock.png" alt="Faceboock">
        <img src="images/Twitter.png" alt="Twitter">
        <img src="images/YouTube.png" alt="YouTube">
        <img src="images/Instagram.png" alt="Instagran">
        <!-- Adicione mais imagens conforme necessário -->
      </div>
    </div>
</div>



<!--Footer-->
			<div class="footer">
				<img src="images/logofooter.svg" alt="" />
				<span>© Copyright 2020 - iFood <br />Todos os direitos reservados</span>
				<div class="footer__terms-links">
					<ul class="footer__links">
						<li><a target="_blank" href="/termos" class="footer__text-link" title="Termos e condições de uso">Termos e condições de uso</a></li>
						<li><a target="_blank" href="https://institucional.ifood.com.br/abrindo-a-cozinha/codigo-de-etica" class="footer__text-link" title="Código de conduta" rel="noopener noreferrer">Código de conduta</a></li>
						<li><a target="_blank" href="https://institucional.ifood.com.br/abrindo-a-cozinha/declaracao-privacidade-clientes/" class="footer__text-link" title="Privacidade" rel="noopener noreferrer">Privacidade</a></li>
						<li><a target="_blank" href="/seguranca" class="footer__text-link" title="Dicas de segurança">Dicas de segurança</a></li>
					</ul>
				</div>
			</div>
		</footer>
			</div>
		</div>
	</body>
</html>
